<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home</h1>

    <p>
      Stay tuned for more information! This page will be updated regularly with
      news surrounding volunteering opportunities...
    </p>
  </body>
</html>
