<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Project Purpose</title>
  </head>
  <body>
    <h1>Purpose</h1>

    <p>
      Our primary action is to host organizations in creating volunteering
      opportunities. Organizations will post updates surrounding initiatives
      they hope to host, and volunteers may sign up for spots and days of
      volunteering, all in one centralized place. We hope to connect individuals
      hoping to help around their community. We also hope to provide general
      analytics surrounding our platform, in wanting to improve our
      capabilities.
    </p>
  </body>
</html>
